<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="./img/favicon.png">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    
    <section class="page-section">
        <div class="page-section__inner">
            <%= require("html-loader!../partials/header.html") %>
            <div class="page-section__content">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum dignissimos cupiditate non rem sunt impedit. Facilis et, illum itaque alias explicabo voluptate soluta tempore natus amet nulla a nobis earum.</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum dignissimos cupiditate non rem sunt impedit. Facilis et, illum itaque alias explicabo voluptate soluta tempore natus amet nulla a nobis earum.</p>
            </div>
        </div>
    </section>

</body>
</html>